html { font-size: 20px; }
h1 { text-align: center; }
.wrapper {  
    min-width: 500px;                 
    max-width: 50%;
    margin: auto;
    padding: 35px;
    background-color:#a5a3b452;
}
img {
    float: left; 
    width: 250px;
    height: 300px; 
    margin: 35px;
}
div main {
    max-width: 700px;
    border-color:#7fd2e0a4;
    border-style: solid;
    border-width: 10px;
    background-color:#908dad52;
    padding: 10px;
    margin: 30px;
    color: #2f2e46bb;
}
div main section {
    position: relative;
    top: 50px;
}
.info div {
    font-size: 25px;
    font-weight: bold; 
}
ul li {
    font-size: 20px;
    font-weight: lighter;
}
div main::after {
    content: "";
    clear: both;
    display: block;
}
@media (max-width: 1200px) {
    html {
        font-size: 18px;
    }
    .wrapper {
    background-color: #ffffff; 
    min-width: 70%;
    }
    main section {
    display: none;
    }
    img {
        position: relative; 
    }
    main {
        max-width: 300px;
        max-height: 400px;
        float: left; 
        margin-right: 27px;
    }
    h1 {
        margin: 2px;
        padding: 2px;
    }
    div main {
        position: relative;
        top: -30px;
    }
}
